.body {
    font-family: "Montserrat";
  }

  .cont {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 0 10% 0 10%;
  }
  
  .cont1 {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    margin: 0 10% 0 10%;
  }
  
  .footer {
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 5rem;
    font-size: 1rem;
    line-height: 3rem;
  }
  
  .footer-bottom {
    color: white;
    width: 100%;
  }
  
  .foot {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .instagram i {
    color: white;
  }
  
  .instagram {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 8px;
    font-size: 50px;
    line-height: 55px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 3% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    transition: 0.5s;
  }
  
  .instagram i:hover {
    background-image: linear-gradient(45deg, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .instagram:hover {
    background: white;
  }
  
  .twitter i {
    color: white;
  }
  
  .twitter {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 8px;
    font-size: 50px;
    line-height: 55px;
    vertical-align: middle;
    background: #39c1f7;
    transition: 0.5s;
  }
  
  .twitter i:hover {
    color: #39c1f7;
  }
  
  .twitter:hover {
    background-color: white;
  }
  